<p id="notice"><%= notice %></p>

<h1><%= @registry.title %></h1>

<% @registry.gifts.each do |gift| %>
  <p><%= gift.url %></p>
  <p><%= gift.description %></p>
<% end %>

<% if current_user.registry == @registry %>
  <%= form_for @registry do |f| %>
      <%= f.fields_for :gifts, @gift do |gifts_form| %>
        <%= gifts_form.label :url %>
        <%= gifts_form.url_field :url %>
      <% end %>
    <%= f.submit %>
  <% end %>
<% end %>
